
/* CSS Document */
html
{
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
    margin-bottom: 0;
}
*
{
    margin: 0px;
    padding: 0px;
}
body
{
    width: 100%;
    background-color: #f5f5f5;
    font-size: 12px;
    font-family: "宋体";
    
    height: 100%;
}
li
{
    list-style-type: none;
}
#container
{
    width: 100%;
    margin: 0 auto;
}

#head
{
    width: 100%;
    height: 104px;
    background: url('../images/sun_02.jpg') left bottom no-repeat;
}
.head_bg
{
    width: 100%;
    height: 104px;
    background: url('../images/sun_26.jpg') left bottom repeat-x;
}
.flash
{
    float: left;
    width: 170px;
}
.flash2
{
    float: left;
    width: 400px;
    margin-left: 0px;
}
.admin
{
    width: 30%;
    text-align: right;
    float: right;
    position: relative;
    top: 45px;
    right: 20px;
    color: #fff;
}
.admin a:link
{
    color: #fff;
}

#middle
{
    width: 100%;
    background: #fff url('../images/sun_15.jpg') repeat-y left bottom;
}
.middle_bg
{
    width: 100%;
    background: url('../images/sun_18.jpg') no-repeat left bottom;
    padding-bottom: 10px;
}
.middle_bg2
{
    width: 100%;
    background: url('../images/sun_27.jpg') repeat-x left bottom;
}
.middle_bg:after
{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0px;
    border: 0px;
}
#left
{
    width: 140px;
    background: url('../images/sun_05.jpg') no-repeat 5px 0%;
    float: left;
    padding: 10px 0px;
    position: absolute;
    left: 0px;
}
#left ul
{
    width: 96%;
    margin: 0 auto;
    margin-top: 10px;
}
.ul_li1
{
    width: 50%;
    text-align: center;
    margin-left: 30px;
    background: url('../images/sun_12.jpg') no-repeat 2px 5px;
    padding: 10px 35px;
    font-weight: bold;
}
#right
{
    margin-left: 160px;
    background-color: #fff;
    height: 100%;
}
.content1
{
    width: 740px;
    border: 0px solid #ccc;
    margin-top: 10px;
}
.content1 h1
{
    font-size: 12px;
    width: 94px;
    height: 24px;
    background: url('../images/sun_08.jpg') no-repeat;
    margin-left: 10px;
    text-align: center;
}
.content1 h1 span
{
    margin-left: 10px;
    line-height: 22px;
    color: #900;
}
.content1_c
{
    width: 100%;
    background: url('../images/sun_25.jpg') repeat-x 50% bottom;
    border: 1px solid #f2f2f2;
    padding-bottom: 10px;
}
.content1_c h2
{
    width: 100%;
    height: 29px;
    background: url('../images/sun_16.jpg') repeat-x;
    font-size: 12px;
    color: #666;
}
.content1_c h2 p
{
    margin-left: 15px;
    line-height: 26px;
}
.content1_c h2 p span
{
    color: #ffae00;
    margin-right: 5px;
}
.content1_c ul:after
{
    clear: both;
    display: block;
    content: "";
    visibility: hidden;
    height: 0px;
}
.content1_c ul li
{
    float: left;
    display: inline;
}
.ul1
{
    width: 100%;
    background-color: #eee;
    padding: 2px 0px;
}
.ul1 li p
{
    margin-left: 20px;
}
.content1_c ul li a:link
{
    color: #666;
    text-decoration: none;
}
.content1_c ul li a:visited
{
    color: #666;
    text-decoration: none;
}
.content1_c ul li a:hover
{
    color: #900;
    text-decoration: underline;
}
.ul1_li1
{
    width: 70%;
}
.ul2
{
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px dashed #eee;
    padding: 5px 0px;
    color: #666;
}
.ul2 li p
{
    margin-left: 30px;
}
