body
{
    font-size: 14px;
    font-family: "宋体";
}
ol li
{
    margin: 8px;
}
#con
{
    font-size: 12px;
    margin: 0px auto;
    width: 100%;
    height: 100%;
}
#tags
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px 0px 0px 10px;
    width: 400px;
    padding-top: 0px;
    height: 23px;
    width: 1000px;
}
#tags li
{
    background: url(../images/tagleft.gif) no-repeat left bottom;
    float: left;
    margin-right: 1px;
    list-style-type: none;
    height: 23px;
}
#tags li a
{
    padding-right: 10px;
    padding-left: 10px;
    background: url(../images/tagright.gif) no-repeat right bottom;
    float: left;
    padding-bottom: 0px;
    color: #999;
    line-height: 23px;
    padding-top: 0px;
    height: 23px;
    text-decoration: none;
}
#tags li.emptyTag
{
    background: none transparent scroll repeat 0% 0%;
    width: 4px;
}
#tags li.selectTag
{
    background-position: left top;
    background-repeat: repeat-x;
    margin-bottom: -2px;
    position: relative;
    height: 25px;
}
#tags li.selectTag a
{
    background-position: right top;
    color: #FFF;
    line-height: 25px;
    height: 25px;
}
#tagContent
{
    border-right: #aecbd4 1px solid;
    padding-right: 1px;
    border-top: #aecbd4 1px solid;
    padding-left: 1px;
    padding-bottom: 1px;
    border-left: #aecbd4 1px solid;
    padding-top: 1px;
    border-bottom: #aecbd4 1px solid;
    background-color: #fff;
}
.tagContent
{
    padding-right: 10px;
    display: none;
    padding-left: 5px;
    padding-bottom: 10px;
    width: 98%;
    color: #474747;
    padding-top: 5px;
    height: 498px;
}
#tagContent div.selectTag
{
    display: block;
}




/*
 * create by Ming
 * at 161127
 * update at 161220
 */
#tags li.selectTag { background-position: left bottom; background-repeat: no-repeat; margin-bottom: 0; margin-right: 1px; height: 23px; border-bottom: 1px solid #fff;  }
#tags li.selectTag a{ color: #208F18; background-position: right bottom; line-height: 23px; height: 23px;  }
.scroller-box{ width: 1100px; overflow: auto; }
.scroller-box .gv_Head th{ white-space: nowrap; }